html, * {
  margin: 0;
}
body {
  background: #fff;
  font-family: 'Baloo Bhaina 2', cursive;
}

.header {
  background-color: fff;
  padding-right: 5em;
  /* border-bottom: solid .1px blue; */
  padding-bottom: 1em;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header .logo {
  padding-left: 2em;
  padding-top: 2em;
  text-align: center;
}
.header ol {
  display: flex;
  height: inherit;
}
.header a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin: 0 15px;
  background-color: white;
  border: 1px solid;
  border-radius: 10px;
}.header a:hover {
  background-color: rgba(36, 19, 189, 0.342);
  cursor: pointer;
  text-decoration: underline;
}

.container {
  flex: 1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: wrap;
}

.menu li {
  list-style: none;
}



/* ---------------------------------------- */
#hero {
  height: 280px;
}
.hero-container {
  width: auto;
  margin: 50px auto;
  /* background: rgba(173, 173, 173, 0.596); */
  text-align: center;
}
.hero-container p {
  font-size: 1.3em;
}

.hero-texts{
  margin: 0 15px;
}

.hero-container-items {
  margin: 15px auto;
}

.hero-container a {
  padding: 5px 100px;
  font-size: 5em;
  text-decoration: none;
  color: black;
  background: rgba(206, 206, 209, 0.781);
  border-radius: 8px;
  border-style: none;
  font-size: .9em;
  outline: none;
}

.invest:hover {
  text-decoration: underline;
  background: rgb(255, 255, 255);
  cursor: pointer;

}
.invest {
  display: flex;
  width: 120px;
}
.invest img {
  width: 80px;
}


/* --------------------------------------------------------- */
#post-section {
  /* display: flex; */
  height: 370px;
  text-align: center;
  padding-top: 30px;
}
#post-section h2 {
  margin-bottom: 2em;
}
#post-section a {
  text-decoration: none;
  color: black;
}
#post-section a:hover {
  text-decoration: underline;
  color: black;
}
.post {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.post li {
  list-style: none;
}
.post a {
  font-size: 1.2em;
}






/* ------------------------------------------------------------ */
.footer {
  height: 50px;
  display: grid;
  justify-content: center;
  align-items: center;
  background: #37688f;
}
.footer a {
  text-decoration: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 1em;
}

@media screen and (max-width: 730px) {
  .container {
    display: flex;
    flex-wrap: wrap;
  }
}


@media screen and (max-width: 600px) {
body {
  margin: 10px;
}


.header {
  /* width: 100vh; */
  height: 150px;
  margin: 30px 0;
}

#hero {
  width: 100vh;
}

.hero-container {
  width: 100vh;
}

.container {
  width: 100vh;
  margin: 10px auto;
  display: block;
}

.logo img {
  width: 100px;
}


/* ---------------------------------------------------------- */
#post-section {
  width: 100vh;
  height: 380px;
  margin: 30px 0;
}
.post {
  display: block;
}
.post ul {
  display: flex;
  justify-content: space-evenly;
}
.post a {
  font-size: 1em;
}

.footer {
  width: 100vh;
  height: 50px;
}
.gif {
  padding: 40px;
}

}