* {
  margin: 0;
}

body {
  background: rgb(179, 177, 177);
  font-family: 'Baloo Bhaina 2', cursive;
  color: white;
  text-align: center;
}

.header {
  height: 120px;
  padding-top: 20px;
  display: block;
  text-align: center;
  align-content: space-around;
}

.title {
  /* display: flex; */
  justify-items: space-between;
  margin: 8px auto;
}
.title a {
  text-decoration: none;
  color: white;
  background-color: #3f67b1;
  border-radius: 8px;
  padding: 4px 30px;
}

.content a {
  text-decoration: none;
  color: white;
}

.title a:hover {
  background-color: rgba(255, 99, 71, 0.486);
}
.title h1, h2 {
  font-size: .9em;
}
.header h2 {
  font-size: .8em;
  z-index: 1;
}




@media screen and (max-width: 600px) {
  .title a {
    text-decoration: none;
    color: white;
    background-color: tomato;
    border-radius: 8px;
    padding: 2px 20px;
    font-size: 1em;
  }
}